*{
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: font aweseome 5 free;
    background-color: #f0f0f0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1{
    margin: 50px 0;
    text-align: center;
}
.faq-container{
    max-width: 600px;
    margin: 0 auto;

}

.faq{
    background-color: transparent;
    border: 1px solid #9fa4a8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;

}

.faq.active{
    background-color: #fff;

}

.faq.active::before{
    content:"" ;

}