*{
    box-sizing: border-box;
}

body{
    display: flex;
   align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}


.bg{
    background: url("https://images.unsplash.com/photo-1530281700549-e82e7bf110d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZG9nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60") center no-repeat;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: cal(100vw+60px);
    height: cal(100vh+60px);
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    /* color:#fff ; */
}